<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 p-3">
      <h3>Payment Form</h3>
    </div>
  </div>

  <div class="row row-cols-2 g-3 pb-3 justify-content-center">
    <div class="form-group col-4">
      <div class="p-2">
        <label for="">Payee Name</label>
        <input (input)="onNameChange($event)" class="form-control" />
      </div>
    </div>

    <div class="col-4">
      <div class="p-2">
        <label for=""><b>Name</b></label>
        <div class="pt-1">
          {{ name | titlecase }}
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-group col-4">
      <div class="p-2">
        <label for="">Payment Date</label>
        <input
          (input)="onDateChange($event)"
          class="form-control"
          type="date"
        />
      </div>
    </div>

    <div class="col-4">
      <div class="p-2">
        <label for=""><b>Date</b></label>
        <div class="pt-1">
          {{ date | date : "d MMMM yyyy" }}
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-group col-4">
      <div class="p-2">
        <label for="">Payment Amount</label>
        <input (input)="onAmountChange($event)" class="form-control" />
      </div>
    </div>

    <div class="col-4">
      <div class="p-2">
        <label for=""><b>Amount</b></label>
        <div class="pt-1">
          {{ amount | currency : "UAH" }}
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-group col-4">
      <div class="p-2">
        <label for="">Height</label>
        <input (input)="onHeightChange($event)" class="form-control" />
      </div>
    </div>

    <div class="col-4">
      <div class="p-2">
        <label for=""><b>Height</b></label>
        <div class="pt-1">
          {{ height | number : "1.2-2" }}
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-group col-4">
      <div class="p-2">
        <label for="">Miles</label>
        <input (input)="onMilesChange($event)" class="form-control" />
      </div>
    </div>

    <div class="col-4">
      <div class="p-2">
        <label for=""><b>Kilometers</b></label>
        <div class="pt-1">
          {{ miles | convertMiles : "km" | number : "1.2-2" }}
        </div>
      </div>
    </div>
  </div>
</div>

{{ car | json }}
